<p id="notice"><%= notice %></p>

<p>
  <strong>Name Category:</strong>
  <%= @category.name %>
</p>

<%= form_with(model: [ @category, @product ], local: true) do |form| %>
  <%= form.label :Nombre %>
  <%= form.text_field :name%>
  <%= form.label :Precio %>
  <%= form.number_field :price %>
  <%= form.submit :enviar %>
<% end %>

<table>
  <tr>
    <th>Nombre Producto</th>
    <th>Precio</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Eliminar', category_product_path(@category, product), method: "delete" %> </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
